it/xml/xml소설같은xml/novelxml_src/09_XML_Schema/SimpleXMLSchema/SimpleXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified">
	<xsd:element name="car">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="CC" type="xsd:integer" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>